services:
  postgres:
    container_name: postgres-sql
    image: postgres
    env_file:
      - api/.env
    ports:
      - "1234:5432"
    volumes:
      - postgres:/var/lib/postgres/data
    networks:
      - spring-boot-net
  
  city_building_game:
    container_name: city_game
    image: city_game
    ports:
      - "8081:8081"
    networks:
      - spring-boot-net
    depends_on:
      - postgres

volumes:
  postgres:

networks:
  spring-boot-net:
    driver: bridge